*{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    background: url('https://img.freepik.com/free-photo/blue-universe-star-explosion_181624-14998.jpg?t=st=1741339997~exp=1741343597~hmac=570eafbf759f19dafcf668b2a39efe1e52cf7190392665d27fde94bc10f5ff68&w=1380') no-repeat fixed center/cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
   
}
p{
    font-weight: 500;
}
nav {
    background: #b8b8b831;
    font-family: "Orbitron", sans-serif;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    width: 100%;
    position: fixed;
    font-weight: 700;
    backdrop-filter: blur(10px);
    z-index: 1000;
}
nav a {
    color: #919191;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    color: #ffffff; }
.mobile, #menu{
        display: none;
        position: relative;
        flex-direction: column; 
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
#mobile{
    margin-left: -100px;
    margin-top: 50px;
}
.section {
    padding: 50px 20px;
    text-align: center;
    background-color: #0f336033;
    backdrop-filter: blur(10px);
}
#landing {
    font-family: "Karantina", system-ui;
     height: 100lvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}
#landing h1 {
    font-size: 50px; 
    padding: 10px 20px;
    border-radius: 5px;
}
.news-container {
    max-width: 60%;
    margin: auto;
}
.news-item {
    background: #0000004f;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: left;
    backdrop-filter: blur(10px);
     
}
.news-item p{
    font-family: "Roboto", sans-serif;
}
.news-item h3 {
    background: -webkit-linear-gradient(58deg, #c5b204 0%, #1bff5f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.read-more {
    background: #000000;
background: -webkit-linear-gradient(58deg, #000000 0%, #1bbeff 100%);
background: linear-gradient(58deg, #000000 0%, #1bbeff 100%);
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
.hidden {
    display: none;
}
.search-container {
    margin-bottom: 20px;
}
input {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: none;
    border-radius: 5px;
}
button {
    padding: 10px;
    background: #000000;
background: -webkit-linear-gradient(58deg, #000000 0%, #1bbeff 100%);
background: linear-gradient(58deg, #000000 0%, #1bbeff 100%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    transition: all 3s ease;
}
button:hover{
    background: #000000;
    background: -webkit-linear-gradient(58deg, #1bbeff 0%, #000000 100%);
    background: linear-gradient(58deg, #1bbeff 0%, #000000 100%);  
}
#about, #contact{
    height: 66lvh;
}
#contact a{
    margin-right: 20px;
}
#contact a:hover{
    color:#ffffff;
}
footer {
    background: #0f3460;
    padding: 20px;
    text-align: center;
}
 span{
    color: #1bff5f;
 }
@media (max-width: 768px){
     
    #menu{
        display: flex;
    }
    .pc{
        display: none;
    }
    nav {
        gap: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #landing{
        width: 90%;
    }
    #landing h1{
        font-size: 30px;
    }
    .news-container{
        width: 90%;
    }
    input{
        width: 50%;
    }
     #about, #contact{
        height: 80vh;
     }
}